
\.gradle/4\.10\.1/fileChanges/last-build\.bin

\.gradle/4\.10\.1/fileContent/annotation-processors\.bin

\.gradle/4\.10\.1/fileContent/fileContent\.lock

\.gradle/4\.10\.1/fileHashes/fileHashes\.bin

\.gradle/4\.10\.1/fileHashes/fileHashes\.lock

\.gradle/4\.10\.1/fileHashes/resourceHashesCache\.bin

\.gradle/4\.10\.1/gc\.properties

\.gradle/4\.10\.1/taskHistory/taskHistory\.bin

\.gradle/4\.10\.1/taskHistory/taskHistory\.lock

\.gradle/buildOutputCleanup/buildOutputCleanup\.lock

\.gradle/buildOutputCleanup/cache\.properties

\.gradle/buildOutputCleanup/outputFiles\.bin

\.gradle/vcs-1/gc\.properties

\.idea/caches/build_file_checksums\.ser

\.idea/caches/gradle_models\.ser

\.idea/workspace\.xml
